.container {
   padding: 1rem 0.5rem;
   width: 100%;
   max-height: 700px;
   overflow-y: auto;
}

.image {
    min-width: 100%;
    cursor: pointer;
}

.desc {
    font-size: 18px;
    margin: 0 2rem;
    padding: 0.5rem 0.5rem;
    letter-spacing: 0.09rem !important;
    line-height: 1.8rem !important;

}